$background-color_1: silver;

.card-container {
	position: relative;
	width: 18em;
	perspective: 200rem;
	height: 18em;
	&:hover {
		.card-front {
			transform: rotateY(180deg);
		}
		.card-back {
			transform: rotateY(0deg);
		}
	}
}
.card {
	position: absolute;
	height: 100%;
	width: 100%;
	transition: all 0.9s;
	backface-visibility: hidden;
	img {
		padding: 1rem;
	}
	p {
		font-size: 2rem;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%,-50%);
	}
}
.card-back {
	transform: rotateY(180deg);
	position: relative;
	background-color: $background-color_1;
}
