<section  id="about">

    <div class="container">
       <div class="card" >
        <div class="row">
          <div class="col-lg-6 col-md-12 d-flex align-items-center" >
            <div class="card-body text-center">
              <h4 class="card-title text-center">About me</h4>

                <p class="card-text text">I am an enthusiastic and detail-oriented Junior Front-end Developer seeking an entry-level position.  Interested in new technologies and working methods. I like to come up with ideas that to permit to improve business processes. I am looking for an innovative and user-centric company to best meet the needs of the customer, from his idea to the final delivery of his project, or participate in the improvement of a project existing.</p>
            </div>
          </div>
          <div class="col-lg-6 col-md-12">
            <div class="card-image d-flex justify-content-center">
              <img src="/.././assets/images/photo.jpg" alt="photo" />
            </div>
          </div>
        </div>
      </div>

  </div>

  </section>
